@model EditQuestionViewModel

@{
    ViewBag.Title = "Edit Question";
}

<h2 style="margin-top:100px;">Edit URL</h2>
<form method="post" id="frm_submit" asp-antiforgery="true">
    <div class="form-horizontal">
        <hr />
        <div class="text-danger" asp-validation-summary="All"></div>
        <input type="hidden" asp-for="Q_Id" />
        <div class="form-group">
            <label class="control-label col-md-2" asp-for="Q_Text">URL Text<span style="color:red">*</span></label>
            <div class="col-md-10">
                <input asp-for="Q_Text" autocomplete="off" class="form-control" />
                <span class="field-validation-valid text-danger" asp-validation-for="Q_Text"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="new-btn">
                    <i class="fa fa-spinner fa-spin" style="display:none;"></i>Update URL
                </button>
            </div>
        </div>
    </div>
</form>


@section Scripts{
    <script type="text/javascript">

        $('#frm_submit').submit(function () {
            $('.fa.fa-spinner.fa-spin').show();
        })
    </script>

    @if (ViewBag.QuestionEdited != null)
    {
        <script>
            toastr.options.progressBar = true;
            toastr.options.onHidden = function () { window.location.href = '@Url.Action("ListQuestion", "Admin")' }
            toastr.success("@ViewBag.QuestionEdited")
        </script>
    }
}