@model IEnumerable<ListUserViewModel>

@{
    ViewBag.Title = "Result";
}

<h2 style="margin-top:100px;">Show Survey Result</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>URL</th>
            <th>Keep</th>
            <th>Discard</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            int keep = 0;
            int discard = 0;
            @foreach (var res in Model)
            {
                <tr>
                    <td>@res.QText</td>
                    @for (int i = 0; i < res.SelectedAnswer.Count; i++)
                    {
                        if (res.SelectedAnswer[i] == "Keep")
                        {
                            keep++;
                        }

                        if (res.SelectedAnswer[i] == "Discard")
                        {
                            discard++;
                        }
                    }
                    <td>@keep</td>
                    <td>@discard</td>
                    @{
                        keep = 0;
                        discard = 0;
                    }
                </tr>

            }
        }
        else
        {
            <tr>
                <td colspan="3" class="text-center"> No User has given Feedback Yet!!</td>
            </tr>
        }
    </tbody>
</table>

